<div class="text-center">
    <h1 class="display-4">Your data has been received by the system.</h1>
    <p> <a href="https://www.plotarmorr.com/khenan-newton">See more of my work on my portfolio website!</a></p>
</div>